:root {
  --colorBrand: #44a19c;
  --colorBrandSoft: #c9e9e7;
  --radius: 10px;
  --menuHeight: 60px; // update globalVariables.ts MENU_HEIGHT

  --colorBackground: #3f3f3f;
  --colorBase: #121212;
  --colorBase2: #282828;
  --colorBorder: #ffffff33;
  --colorText: #f3f3f3;
  --colorText2: #8d8d8d;
  --colorText3: #494949;
}
